@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,4000,500,600,700,800,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

section{
    padding: 100px;
}

.banner{
    padding: 0 100px;
}

.banner{
    position: relative;
    min-height: 100vh;
    background-color: black;
    background-image: url(media-files/banner.jpg);
    background-position: top 40% right;
    background-size: 400px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img1{

    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
}

.img1 .imgBanner{
    min-width: 100px;
    max-height: 655px;
    position: relative;
    right: 0;
    top: 0;
}

.banner h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span{
    font-weight: 700;
    font-size: 1.5em;
}

.banner h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.btn{
    position: relative;
    background: #1d83d6;
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 1px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    color: #fff;
    background: #000;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

header .logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}




header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

header.sticky ul li a{
    color: #111;
}

.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2{
    font-weight: 700;
    font-size: 30px;
}

.content{
    display: flex;
    justify-content: space-between;
}

.contentBx{
    padding-right: 30px;
}

.contentBx h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.w50{
    min-width: 50%;
}

.img{
    max-width: 100%;
}

.services{
    background: #111;
}

.heading.white{
    color: #fff;
}

.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 0px;
}

.services .content .serviceBx{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 315px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.services .content .serviceBx:hover{
    background: #1d83d6;
}

.services .content .serviceBx img{
    max-width: 80px;
    filter: invert(1);
}

.services .content .serviceBx h2{
    font-size: 20px;
    font-weight: 600;
}

.work .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work .content .workBx{
    width: 50%;
    padding: 20px;
}

.work .content .workBx img{
    max-width: 100%;
}

.testimonial{
    background: #f7f7f7;
}
.testimonial .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonial .content .testimonialBx{
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #2196f3;
}

.testimonial .content .testimonialBx p{
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6rem;
}

.testimonial .content .testimonialBx h3{
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 1em;
}

.testimonial .content .testimonialBx h3 span{
    font-size: 14px;
    font-weight: 400;
}

.contact{
    background: #111;
}

.formBx{
    min-width: 60%;
}

.formBx form{
    display: flex;
    flex-direction: column;
}

.formBx form h3,
.contactInfo h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}

.formBx form textarea{
    min-height: 200px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder{
    color: #999;
}

.formBx form input[type="submit"]{
    max-width: 110px;
    background: #1d83d6;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 1px;
}

.contactInfo{
    min-width: 40%;
}

.contactInfoBx .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon{
    min-width: 40px;
    padding-top: 7px;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: 24px;
}

.contactInfoBx .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3{
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}

.copyright{
    color: #fff;
    background: #000;
    text-align: center;
    padding: 10px;
}
